div#wrapper {
  min-height: 100vh;
  position: relative;
}

main#main {
    padding-bottom: 60px;
    min-height: 100%;
	max-width: 800px;
  	margin: auto;
  	text-align: justify;
}

.container {
    min-height: 100%;
}

div#publish {
	font-style: italic;
    font-weight: lighter
}

