h2 {
  /* padding: 10px 0; */
  background-color: rgba(66, 139, 202, 0.28);
  color: #5884cc;
  padding: 2px;
  margin-bottom: 25px;
  /* font-family: OpenSans; */
  margin-top: 0px;
}

.profile {
border-top: 4px solid #cedef1;
}

h4 {
  color: lightgray;
}

h5 {
  color: lightgray;
}

p.desc {
  color: #767676;
  text-align: justify;
  /* background-color: #f5f5f5; */
  padding: 10px;
  /* height: -webkit-fill-available; */
  max-height: 10em;
  /* font-family: PT serif; */
}

